<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="plugin.audio.pandora">
    <category id="account" label="32000">
      <group id="1">
        <setting id="username" type="string" label="32001">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string"/>
        </setting>
        <setting id="password" type="string" label="32002">
          <level>0</level>
          <default></default>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <hidden>true</hidden>
          </control>
        </setting>
        <setting id="test_login" type="action" label="32005">
          <level>0</level>
          <data>RunPlugin(plugin://plugin.audio.pandora/?action=test_login)</data>
          <control type="button" format="action"/>
        </setting>
      </group>
    </category>
    <category id="playback" label="32003">
      <group id="1">
        <setting id="tracks_per_page" type="integer" label="32004">
          <level>0</level>
          <default>4</default>
          <constraints>
            <minimum>1</minimum>
            <maximum>8</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
      </group>
    </category>
  </section>
</settings>